@mixin navigation {
  &-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &-item {
    list-style-type: none;
  }

  &-link {
    color: color(primary);
    text-decoration: none;
    font-size: size(S);
    transition: all 0.3s;

    &-hover {
      color: lighten(color(primary), 40%);
    }
  }
}

@mixin flexPosition($justCont: center, $alignItem: center) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignItem;
}
@mixin footerList {
  &-heading {
    font-size: size(L);
    color: color(primary);
  }

  &-item {
    list-style: none;
    margin: 1rem 0;
  }

  &-link {
    font-size: size(XS);
    text-decoration: none;
    color: lighten(color(primary), 15%);
    transition: color 0.2s;

    &:hover {
      color: lighten(color(primary), 35%);
    }
  }
}
