$font-garamond: "Garamond", serif;
$font-gillsans: "Gill Sans", sans-serif;

$colors: (
  primary: #4b4b4c,
  secondary: #fff0ce,
  tertiary: #fffbef,
  quatenary: #fbb339
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  XL: 3rem,
  L: 2.5rem,
  M: 2rem,
  S: 1.8rem,
  XS: 1.6rem
);

@function size($size) {
  @return map-get($font-sizes, $size);
}
